/*CSS Style 1*/

body {
	background-color:#e6ffff;
}

h1 {
	color:#e6e6ff;
	background-color:#000033; 
	font-family:Georgia;
	text-align:center;
	margin-left:25%;
	margin-right:25%;
	padding:.5%;
	border-radius:15%;
}

hr {
	color:#ffe6ff;
	margin-left:25%;
	margin-right:25%;
	margin-bottom:2%;
}

li {
	color:#000033; 
	font-family:Georgia;
}

#list1
li {
	border-color:#000033;
	border-width:2%;
	border-radius:5%;
	border-style:dotted;
	margin-right:91%;
	margin-bottom:.5%;
}

#list2
li {
	border-color:#000033;
	border-width:2%;
	border-radius:5%;
	border-style:dotted;
	margin-right:91%;
	margin-top:.5%;
	margin-bottom:.5%;
}

#list3
li {
	border-color:#000033;
	border-width:2%;
	border-radius:5%;
	border-style:dotted;
	margin-right:78.3%;
	margin-top:.5%;
	margin-bottom:.5%;
}

#list4
li {
	border-color:#000033;
	border-width:2%;
	border-radius:5%;
	border-style:dotted;
	margin-right:83.8%;
	margin-top:.5%;
	margin-bottom:.5%;
}

#list5
li {
	border-color:#000033;
	border-width:2%;
	border-radius:5%;
	border-style:dotted;
	margin-right:86.5%;
	margin-top:.5%;
	margin-bottom:.5%;
}

p {
	color:#000033;
	font-family:Georgia;
	font-size:75%;
	margin-left:5%;
}

a {
	color:#400080;
}

#image1
img {
	width:90%;
	height:90%;
	margin-left:5%;
}

#image2
img {
	width:20%;
	height:20%;
	margin-left:40%;
}

#button1
h4 {
	background-color:#008000;
	color:#e6ffe6;
	border-radius:5%;
	margin-top:1%;
	margin-left:5%;
	margin-right:88.5%;
	padding:1%;
}









